---
import "../styles/global.css";
import CardCategory from "./CardCategory.astro";

import data from "../../data.json"

console.log(data)


---

<div id="container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-4">
    {Object.entries(data).map(([categoria, recursos]) => (
      <CardCategory title={categoria} path={categoria} />
    ))}
  </div>
  

